<% include ./partials/header.ejs %>

    <div class="container">
        <h1 class="title">Welcome <%= user.username %>!</h1>
        <p>Your password is <%= user.password %> and your email address is <%= user.email %></p>
        <p>Your information has been sucessfully saved to a databse </p>
<% include ./partials/footer.ejs %>
