body {
    background-color: #e1bee7;
}

.row:first-of-type {
    padding-bottom: 10px; 
}

.title {
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px; 
    font-size: 20px;
    text-align: center; 
    padding-bottom: 5px; 
}

.container {
    max-width: 300px;
    margin-top: 10%;
    font-family: "Segoe UI"; 
}

.row {
    margin: 0; 
    padding: 0; 
}

.button {
    font-size: 8px;
    font-weight: 200;   
    font-family: "Montserrat";
    margin-top: 3px; 
    margin-bottom: 3px; 
    text-align: center;
}

.facebook_button {
    --facebook-bg-color: #3b5998; 
    background-color: var(--facebook-bg-color); 
    
}
.facebook_button:hover {
    --facebook-bg-color: #3b5998; 
    background-color: var(--facebook-bg-color); 
}

.email_button {
    --github-bg-color: #444444 !important; 
    background-color: var(--github-bg-color); 
}

.email_button:hover {
    --github-bg-color: #444444 !important; 
    background-color: var(--github-bg-color); 
}

a {
    color: inherit
}

input {
    text-decoration: black;
}